@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #6E8A3C;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
  padding-top: 9rem;
}

.btn {
  padding: .7rem 2rem;
  font-size: 1.7rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.btn:hover {
  background: #444;
  letter-spacing: .1rem;
}

.btn-quick {
  padding: .3rem 1.5rem;
  font-size: 1.5rem;
  background: #fea01c;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  text-transform: none;
}

.btn-quick:hover {
  background: #444;
  letter-spacing: .1rem;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  background: #6E8A3C;
  padding: .3rem 5.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  width: 100%;
  height: 3rem;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.header .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50rem;
}

.header .search-form input {
  border: .1rem solid #333;
  padding: 1.3rem;
  width: 100%;
  border-radius: 5rem;
  text-transform: none;
}

.header .search-form .account-2 {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  text-transform: none;
}

.header .search-form .account-2:hover {
  color: #6E8A3C;
  cursor: pointer;
}

.header .search-form .account-2 i {
  font-size: 2rem;
  padding: 1rem;
}

.header .search-form .icons {
  display: none;
}

.header .search-form .icons i {
  font-size: 2rem;
}

.header .search-form .icons i:hover {
  color: #6E8A3C;
}

.header .search-form .icons .icon-left {
  margin-left: 1rem;
}

.header .search-form .icons .icon-left:hover {
  color: #6E8A3C;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header .navbar .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  text-transform: none;
}

.header .navbar .account:hover {
  color: #6E8A3C;
  cursor: pointer;
}

.header .navbar .account #result {
  margin-right: 2rem;
}

.header .navbar .icons i {
  font-size: 2rem;
}

.header .navbar .icons i:hover {
  color: #6E8A3C;
}

.header .navbar .icons .icon-left {
  margin-left: .5rem;
}

.header .navbar .icons .icon-left:hover {
  color: #6E8A3C;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}

.home .content {
  padding-left: 10rem;
  width: 75rem;
}

.home .content h3 {
  font-family: cursive;
  font-weight: bolder;
  font-size: 4.5rem;
  color: #6E8A3C;
}

.home .content p {
  font-size: 1.4rem;
  color: #7c798c;
  line-height: 1.3334;
  display: block;
  margin: 1rem 0;
}

.fruits .row,
.vegetables .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fruits .row .image img,
.vegetables .row .image img {
  width: 100%;
}

.fruits .row .products-container .product,
.vegetables .row .products-container .product {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.13);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.13);
  height: 90%;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  border-radius: .7rem;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 0.1rem solid rgba(138, 138, 138, 0.2);
}

.fruits .row .products-container .product .list-model,
.vegetables .row .products-container .product .list-model {
  position: absolute;
  left: 0;
  top: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(138, 138, 138, 0.3);
}

.fruits .row .products-container .product:hover .list-model,
.vegetables .row .products-container .product:hover .list-model {
  cursor: pointer;
  top: 0;
}

.fruits .row .products-container .product h3,
.vegetables .row .products-container .product h3 {
  padding-top: .5rem;
  font-size: 1.5rem;
  font-family: cursive;
  color: #4e7013;
}

.fruits .row .products-container .product .price,
.vegetables .row .products-container .product .price {
  display: block;
  margin-top: 1.2rem;
  color: #fea01c;
  font-size: 1.6rem;
  line-height: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fruits .row .products-container .product .price .price-old,
.vegetables .row .products-container .product .price .price-old {
  padding-left: .5rem;
  color: #333;
  font-size: 1.3rem;
  text-decoration: line-through;
}

.products-preview {
  z-index: 999999 !important;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin-top: 8rem;
  width: 40rem;
  border-radius: 1rem;
}

.products-preview .preview img {
  max-width: 100%;
  height: 25rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 2.3rem;
}

.products-preview .preview .fa-times.hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.products-preview .preview h3 {
  font-family: cursive;
  color: #444;
  padding: .5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .starts {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.products-preview .preview .starts span {
  color: #999;
}

.products-preview .preview i {
  color: #fea01c;
}

.products-preview .preview p {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .price-new {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.products-preview .preview .price-new .price-old {
  margin-left: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-decoration: line-through;
}

.products-preview .preview .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16rem;
          flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  border-radius: 1rem;
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  border-radius: 1rem;
  background: #319736;
  color: #fff;
  border: none;
}

.login-account {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 1 !important;
}

.login-account.active {
  visibility: visible;
  -webkit-animation: fadeDown ease .3s;
          animation: fadeDown ease .3s;
  opacity: 1;
}

.login-account .box-container {
  position: absolute;
  top: 12%;
  right: 1%;
  bottom: 30%;
  margin: auto;
  width: 35rem;
  height: 30rem;
  background: white;
  border-radius: 1rem;
  text-align: center;
}

.login-account .box-container .icon-btn {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  padding: 1.5rem;
  z-index: 1;
}

.login-account .box-container .text {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-top: 3rem;
  color: #333;
  position: relative;
}

.login-account .box-container .text::before {
  content: "";
  position: absolute;
  bottom: 5rem;
  left: 6rem;
  height: 3rem;
  width: 4rem;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-account .box-container .panel-body {
  margin-top: 2rem;
  padding: 0 1rem;
}

.login-account .box-container .panel-body .form-group {
  border: .1rem solid #aaa;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account .box-container .panel-body .form-group i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account .box-container .panel-body .form-group .form-control {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account .box-container .pding-top {
  border: .1rem solid #aaa;
  margin-top: 2rem;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account .box-container .pding-top i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account .box-container .pding-top .form-control {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account .box-container .submit .primary-key {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  cursor: pointer;
  background: #6E8A3C;
  color: #fff;
}

.login-account .box-container .submit .primary-key:hover {
  letter-spacing: 0.2rem;
}

.login-account2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 1 !important;
}

.login-account2.active {
  visibility: visible;
  -webkit-animation: fadeDown ease .3s;
          animation: fadeDown ease .3s;
  opacity: 1;
}

.login-account2 .box-container2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70rem;
  height: 30rem;
  background: rgba(138, 138, 138, 0.2);
  text-align: center;
  border-radius: 1rem;
}

.login-account2 .box-container2 .icon-btn2 {
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem;
  z-index: 1;
}

.login-account2 .box-container2 .text {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-top: 3rem;
  color: #fff;
  position: relative;
}

.login-account2 .box-container2 .panel-body2 {
  margin-top: 2rem;
  padding: 0 1rem;
}

.login-account2 .box-container2 .panel-body2 .form-group2 {
  border: .1rem solid #aaa;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account2 .box-container2 .panel-body2 .form-group2 i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account2 .box-container2 .panel-body2 .form-group2 .form-control2 {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account2 .box-container2 .pding-top2 {
  border: .1rem solid #aaa;
  margin-top: 2rem;
  width: 100%;
  padding: 1.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  font-size: 1.3rem;
}

.login-account2 .box-container2 .pding-top2 i {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.login-account2 .box-container2 .pding-top2 .form-control2 {
  width: 100%;
  margin: 0 1.5rem;
}

.login-account2 .box-container2 .submit2 .primary-key2 {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  cursor: pointer;
  background: #6E8A3C;
  color: #fff;
}

.login-account2 .box-container2 .submit2 .primary-key2:hover {
  letter-spacing: 0.2rem;
}

@-webkit-keyframes fadeDown {
  from {
    -webkit-transform: translateY(-15rem);
            transform: translateY(-15rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    -webkit-transform: translateY(-15rem);
            transform: translateY(-15rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1070px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    margin: auto;
    padding-bottom: .5rem;
  }
  .header .search-form {
    width: 90%;
  }
  .header .search-form input {
    width: 100%;
  }
  .header .search-form .account-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .search-form .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar {
    display: none;
  }
  .login-account2 .box-container2 {
    width: 90%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 0 2rem;
  }
  .section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .products-preview .preview img {
    height: 20rem;
  }
}
/*# sourceMappingURL=style.css.map */